<?xml version="1.0"?>

<launch>
    
    <!-- COMMON -->
    <arg name="robot_id"                   default="$(optenv ROBOT_ID robot)"/>
    <arg name="prefix"                     default="$(arg robot_id)_" />


    <!-- CAMERA 1 -->
    <arg name="camera_model_1"               default="$(optenv JETSON_CAMERA_1_MODEL none)" /> 
    <arg name="camera_id_1"                  default="$(optenv JETSON_CAMERA_1_ID front_rgbd_camera)"/>
    <arg name="camera_device_id_1"           default="$(optenv JETSON_CAMERA_1_DEVICE_ID 0)" />

    <arg name="tf_camera_prefix_1"           default="$(arg prefix)$(arg camera_id_1)" />

    <arg name="svo_file_1"                   default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="stream_1"                     default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->

    <arg name="node_name_1"                  default="$(arg camera_id_1)" />
    <arg name="gpu_id_1"                     default="-1" />

    <arg name="base_frame_1"                 default="$(arg tf_camera_prefix_1)_base_link" />
    <arg name="camera_frame_1"               default="$(arg tf_camera_prefix_1)_link" />

    <arg name="mapping_enabled_1"            default="false" />

    <group ns="$(arg robot_id)" >
	
	<!-- CAMERA 1 -->

	<group if="$(eval camera_model_1 != 'none')">
		
    	   <node name="$(arg node_name_1)" pkg="zed_wrapper" type="zed_wrapper_node" output="screen" required="true">

	    	<rosparam file="$(find zed_bringup)/config/common.yaml" command="load" />
	    	<rosparam file="$(find zed_bringup)/config/$(arg camera_model_1).yaml" command="load" />

	    	<!-- Camera name -->
	    	<param name="general/camera_name"               value="$(arg tf_camera_prefix_1)" />

	    	<!-- Frames -->
	    	<param name="general/base_frame"                value="$(arg base_frame_1)" />
	    	<param name="general/camera_frame"              value="$(arg camera_frame_1)" />

	    	<!-- SVO file path -->
	    	<param name="svo_file"                          value="$(arg svo_file_1)" />

	   	<!-- Remote stream -->
	    	<param name="stream"                            value="$(arg stream_1)" />

	    	<!-- Camera ID -->
		<param name="general/serial_number"             value="$(arg camera_device_id_1)" />

	    	<!-- GPU ID -->
	    	<param name="general/gpu_id"                    value="$(arg gpu_id_1)" />

	   	<!-- Mapping -->
	    	<param name="mapping/mapping_enabled"           value="$(arg mapping_enabled_1)" />

    	   </node>

	</group>
     
</group>

</launch>
